<% provide(:title, t(".about"))%>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %> <a href="http://www.railstutorial.org/"><em><%= t "help_ruby" %></em></a> <%= t ".is_a"%>
  <a href="http://www.railstutorial.org/book"><%= t "book" %></a> <%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screen_series" %></a>
  <%= t ".screen_series" %>
  <a href="http://rubyonrails.org/"><%= ".ruby_rails" %></a>.
  <%= t ".is_sam_application"%>
</p>
